.badge{
    height: 5rem;
    width: 5rem;
    position: relative;
}

.badge img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.badge-status .status-offline{
    height: 1.2rem;
    width: 1.2rem;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 8%;
    border: 3px solid white;
    border-radius: 50%;
}

.badge-status .status-online{
    height: 1.2rem;
    width: 1.2rem;
    background-color: green;
    position: absolute;
    right: 0;
    bottom: 8%;
    border: 3px solid white;
    border-radius: 50%;
}

.badge-notification{
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-notification > i {
    font-size: 3rem;
}

.badge-notification div{
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    background-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: white;
    left: 55%;
    top: 0;
    border: 3px solid white;
    border-radius: 50%;
}