.nav-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 3.5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .nav-modal-content h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
  }
  
  .nav-modal-content a {
    text-decoration: none;
    margin: 0.2rem;
    color: #333;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    margin-right: 5%;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .nav-modal-content a:hover {
    background-color: rgb(158, 205, 253);
    border-radius: 10px;
    text-shadow: 0 0 15px lightblue;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .nav-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1.2rem;
    width: 100%;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .close i:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .nav-menu{
      margin-bottom: 0.6rem;
  }

  .nav-menu h3{
      margin-bottom: 0.5rem;
  }

.doc__main-flex{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        line-height: 1.3;
        width: 80%;
}

.doc__sidebar{
        width: 350px;
        /* padding-left: 2%; */
        position: sticky;
        top: 0;
        align-self: flex-start;
        /* box-shadow: 6px 0px 6px -7px #222; */
    }

.doc__example{
        width: 100%;
        padding-left: 3%;
        padding-top: 1%;
        box-shadow: inset 5px 0 5px -5px rgba(0,0,0,0.7);
}

.doc__sidebar ul > a{
        text-decoration: none;
}

.doc__sidebar h2{
        padding: 1rem 0;
}

.doc__sidebar li{
        list-style: none;
        padding: 0.5rem;
        font-size: 1.2rem;
}

.doc__sidebar li:hover{
    background-color:rgb(158, 205, 253);  
    margin-right: 5%;
    border-radius: 10px;  
    text-shadow: 0 0 15px var(--primary-color);
    transition: all 0.5s ease;
}

.component__name,
.component__desc,
.component__sub-title,
.component__sub-desc {
    margin-bottom: 3%;
}

.component__example{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(143, 190, 245);
    border-radius: 20px;
    padding: 1rem 0;
    margin: 1rem 0;
    background-color: #edf0f3;
}

.component__example > div {
    margin: 0 0.5rem;
}

.line{
    border-bottom: 2px solid rgb(202, 202, 202);
    margin: 3rem 0;
}

.code-display{
    width: 100%;
    margin: 2rem 0;
    background-color: var(--background-color);
}
.code-display iframe{
    width: 100%;
}

.alert__example > div{
    margin: 0.5rem 0.5rem;
}


.button__example > button, .button__example > a{
    margin: 0.5rem 0.8rem;
}   

.input__example, .text__example{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.text__example > * {
    color: var(--text-color);
}

.radio__example{
    display: flex;
    flex-direction: column;
}

.align__example{
    display: block;
    padding: 2rem;
}

.list__example > div{
    margin: 0.5rem 1.2rem;
}

.nav__example nav{
    width: 100%;
    margin: 0 0.5rem;
}

.nav__example{
    margin-bottom: 7rem;
}


.grid__example{
    display: block;
    padding: 2rem;
    text-align: center;
}

.grid__example p{
    margin-top: 1rem;
}

.grid__example .grid{
    background-color: var(--primary-alert-bg-color);
    margin-top: 0.4rem;
}

.grid__example .grid > div {
    padding: 0.8rem 0;
    border-left: 1px solid gray;
  }

.grid__example .grid > div:last-child {
    border-right: 1px solid gray;
  }


@media screen and (max-width: 950px) {
    .nav__example{
        margin-bottom: 0;
    }
    .nav-component .nav-right{
        display: none;
    }
    .nav-rightOne{
        display: block;
    }
    .doc__sidebar{
        display: none;
    }
    .nav-component{
        position: sticky;
        top: 0;
        z-index: 6;
    }
    .doc__example{
        box-shadow: 0 0 0 0;
    }
  }