.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 10rem; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content h3{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
}

.modal-content P{
    padding-top: 0.5rem;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1.2rem;
    width: 40%;
    border-radius: 0.6rem;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 1.6rem;
    font-weight: bold;
}

.close i:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}