
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.50rem;
}
h4{
    font-size: 1.25rem;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: 0.75em;
}
p, span{
    font-size: 1.1rem;
}

h1,h2,h3,h4,h5,h6,p,span{
    line-height: 1.3;
}


.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

@media (max-width: 800px){
    
    h1{
        font-size: 1.75rem;
    }
    h2{
        font-size: 1.50rem;
    }
    h3{
        font-size: 1.25rem;
    }
    h4, h5, h6, p, span{
        font-size: 1rem;
    }
    
}